#root_anchor_pane {
    -fx-background-color: #3FE5FF;
}

.menu-text {
    -fx-text-fill: white;
    -fx-font-size: 25;
    -fx-font-weight: bold;
}

.header-button {
    -fx-background-color: transparent;
}

.header-button:hover {
    -fx-cursor: hand;
    -fx-background-color: #5bb8ff;
}

#voterMenuContainer {
    -fx-background-color: #35ce8d;
}

#contractMenuContainer {
    -fx-background-color: #ffbe4c;
}

#logout-button {
    -fx-background-color: transparent;
}

.menu-button {
    -fx-background-color: transparent;
    -fx-min-width: 150;
    -fx-max-width: 150;
    -fx-min-height: 200;
    -fx-max-height: 200;
}

.menu-button:hover {
    -fx-cursor: hand;
    -fx-background-color: #5bb8ff;
}

/*.toggle-button {*/
/*    base-color: #ff6060;*/
/*    -fx-background-color: base-color;*/
/*}*/

/*.toggle-button:selected {*/
/*    base-color: #85eca5;*/
/*}*/

.toggle-button:hover {
    -fx-cursor: hand;
    -fx-background-color: derive(base-color, -20%);
}

#menuVbox {
    -fx-background-color: #4CEAEB;
}