#rootAnchorPane {
    -fx-background-image: url("/images/preloader_bg.png");
    -fx-background-repeat: stretch;
    -fx-background-position: center center;
}

.list-cell:filled:selected:focused, .list-cell:filled:selected {
    -fx-background-color: #2ffffc;
    -fx-text-fill: white;
}

.list-cell {
    -fx-background-color: transparent;
    -fx-min-height: 50;
}

.list-view {
    -fx-background-color: #3fe4ff;
    -fx-background-radius: 10;
    /*-fx-border-color: white;*/
    -fx-border-radius: 10;
}

.list-cell:filled:hover {
    -fx-background-color: #74f8f8;
    -fx-text-fill: white;
}

.list-cell {
    -fx-font-family: "Arial Black";
    -fx-text-fill: white;
    -fx-font-size: 15;
}

#hiThereText {
    -fx-font-family: "Arial Black";
    -fx-text-fill: white;
    -fx-font-size: 15;
}

.scroll-bar {
    -fx-background-color: transparent;
}

.scroll-bar:horizontal .track,
.scroll-bar:vertical .track {
    -fx-background-color: transparent;
    -fx-border-color: transparent;
    -fx-background-radius: 0.0em;
    -fx-border-radius: 2.0em;
}


.scroll-bar:horizontal .increment-button,
.scroll-bar:horizontal .decrement-button {
    -fx-background-color: transparent;
    -fx-background-radius: 0.0em;
    -fx-padding: 0.0 0.0 10.0 0.0;

}

.scroll-bar:vertical .increment-button,
.scroll-bar:vertical .decrement-button {
    -fx-background-color: transparent;
    -fx-background-radius: 0.0em;
    -fx-padding: 0.0 10.0 0.0 0.0;

}

.scroll-bar .increment-arrow,
.scroll-bar .decrement-arrow {
    -fx-shape: " ";
    -fx-padding: 0.15em 0.0;
}

.scroll-bar:vertical .increment-arrow,
.scroll-bar:vertical .decrement-arrow {
    -fx-shape: " ";
    -fx-padding: 0.0 0.15em;
}

.scroll-bar:horizontal .thumb,
.scroll-bar:vertical .thumb {
    -fx-background-color: derive(#3fe4ff, 90.0%);
    -fx-background-insets: 2.0, 0.0, 0.0;
    -fx-background-radius: 2.0em;
}

.scroll-bar:horizontal .thumb:hover,
.scroll-bar:vertical .thumb:hover {
    -fx-background-color: derive(#4D4C4F, 10.0%);
    -fx-background-insets: 2.0, 0.0, 0.0;
    -fx-background-radius: 2.0em;
}

.button {
    -fx-background-color: #3fe4ff;
    -fx-background-radius: 30;
    -fx-border-radius: 30;
    -fx-border-width: 6;
    -fx-background-insets: 5px;
    -fx-border-color: white;
    -fx-text-fill: white;
}

.button:hover {
    -fx-background-color: white;
    -fx-text-fill: #3fe4ff;
    -fx-cursor: hand;
}

#bottomContainer {
    -fx-background-color: transparent;
    -fx-border-color: transparent;
    -fx-border-width: 5;
    -fx-border-radius: 10;
}

.udnerlinedText:hover {
    -fx-border-color: white;
    -fx-border-width: 0 0 1 0;
    -fx-underline: true;
    -fx-cursor: hand;
    -fx-padding: 0 0 -1 0;
}

.password-field {
    -fx-border-color: white;
    -fx-border-width: 0 0 1 0;
    -fx-background-color: transparent;
    -fx-text-fill: white;
    -fx-prompt-text-fill: white;
}