#root_anchor_pane {
    -fx-background-color: #3FE5FF;
}

.menu-text {
    -fx-text-fill: white;
    -fx-font-size: 30;
    -fx-font-weight: bold;
}

#voterMenuContainer {
    -fx-background-color: #35ce8d;
}

#contractMenuContainer {
    -fx-background-color: #ffbe4c;
}

#logout-button {
    -fx-background-color: transparent;
}

.menu-button {
    -fx-background-color: transparent;
    -fx-min-width: 200;
    -fx-max-width: 200;
    -fx-min-height: 250;
    -fx-max-height: 250;
}

.menu-button:hover {
    -fx-cursor: hand;
}

#logoutButton:hover {
    -fx-background-color: #ff432e;
}

#createElectionButton:hover {
    -fx-background-color: #ffbe4c;
}

#registerVoterButton:hover {
    -fx-background-color: #3ba53a;
}

#derp {
    -fx-background-image: url('../images/waves.png');
    -fx-background-position: bottom center;
    -fx-background-repeat: no-repeat;
}